.dt-mainContainer {
    height: 100vh;
    width: 51vw;
    position: fixed;
    top: 0;
    left: 50vw;
    transform: translate(-50%, 0);
    background-color: gray;

    transition: 0.5s;
}

.dt-teamContainer {
    position: relative;
    height: 60vh;
    width: 45vw;

    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: aliceblue;
}

.dt-catContainer {
    display: inline-block;
    position: absolute;
    width: 34%;
    background-color: black;

    border-radius: 50%;
    
    transform: translate(-50%, -50%);
}

.dt-catCircleRow1 {
    top: 15%;
}

.dt-catCircleRow2 {
    top: 50%;
}

.dt-catCircleRow3 {
    top: 85%;
}

.dt-catCircleColumn1 {
    left: 25%;
}

.dt-catCircleColumn2 {
    left: 35%;
}

.dt-catCircleColumn3 {
    left: 65%;
}

.dt-catCircleColumn4 {
    left: 75%;
}

.dt-selectedCat {
    display: block;
    position: absolute;
    height: 65%;
    width: 65%;

    top: 50%;
    left: 50%;
    transform: translate( -50%, -50%);

    border-radius: 50%;

    background-color: aliceblue;
}

.dt-catOption {
    position: absolute;
    height: 30%;
    width: 30%;

    transform: translate( -50%, -50%);

    border-radius: 50%;

    background-color: darkgreen;

    z-index: 10;
}

.dt-optionRow1 {
    top: 0%;
}

.dt-optionRow2 {
    top: 20%;
}

.dt-optionRow3 {
    top: 50%;
}

.dt-optionRow4 {
    top: 80%;
}

.dt-optionRow5 {
    top: 100%;
}

.dt-optionColumn1 {
    left: 0%;
}

.dt-optionColumn2 {
    left: 20%;
}

.dt-optionColumn3 {
    left: 50%;
}

.dt-optionColumn4 {
    left: 80%;
}

.dt-optionColumn5 {
    left: 100%;
}
