.defaultTeamTableContainer {
    position: relative;
    z-index: 1;
}

.defaultTeamTable {
    border-spacing: 0;
}

.defaultTeamCell {
    border: 0;
    padding: 0;
}

.defaultCatDropdown {
    position: relative;
    display: inline-block;
    width: 8em;
    height: 6.5em;
}

.defaultCatDropdownContent {
    display: grid;
    position: absolute;
    width: 0%;
    height: 0%;
    grid-template-areas: 'a a a a';
    grid-auto-columns: 25%;
    grid-auto-rows: 100%;
    gap: 0;
    transition: height 0.3s ease-out, width 0.3s ease-out;
}

.defaultCatDropdown:hover .defaultCatDropdownContent {
    height: 100%;
    width: 400%;
}

.defaultCatDropdown:hover .defaultCatDropdownContent > .defaultCatOption {
    display: grid;
}

.defaultCatOption {
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 100%;
    cursor: pointer;
    width: 100%;
    height: 100%;
    padding: 0;
    border: 0;
}

.defaultCatDropdownContent > .defaultCatOption {
    display: none;
}

.defaultCatImage {
    grid-column: 1;
    grid-row: 1;
    width: 100%;
    height: 100%;
}

.defaultCatText {
    grid-column: 1;
    grid-row: 1;
    width: 100%;
    margin-top: auto;
    height: fit-content;
    margin-bottom: 5%;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;

    font-size: smaller;
}