.catBooklet {
  background-color: burlywood;
  position: relative;
  display: block;
  width: 40em;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.catHeader { grid-area: 1 / 1 / 4 / 6; }
.catName { grid-area: 1 / 3 / 2 / 6; }
.catWeapons { grid-area: 2 / 3 / 4 / 6; }
.catDescription { grid-area: 4 / 1 / 6 / 6; }
.catStats { grid-area: 6 / 1 / 10 / 6; }
.catPaginationWrapper { grid-area: 10 / 1 / 11 / 6; }
.catImage { grid-area: 1 / 1 / 4 / 3; }

.catInfoGridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 10px 10px;
  padding: 10px;
  background-color: burlywood;
}

.catInfoGridContainer > .catBookletCell {
  position: relative;
  padding: 1% 0;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  border: #ddd;
  justify-content: center;
}

.catPaginationWrapper {
  position: relative;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.paginationLink {
  background-color: white;
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
}

.paginationLink.active {
  background-color: #4CAF50;
  color: white;
  border: 1px solid #4CAF50;
}

.paginationLink:hover:not(.active) {
  background-color: #ddd;
  cursor: pointer;
}

.catNameText {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 5%;
  width: 100%;
  height: auto;
  text-align: center;
  text-transform: uppercase;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  display: block;
  line-height: 1em;
  max-height: 100%;
}
.catDescriptionText {
  display: block;
  margin-top: auto;
  margin-bottom: auto;
  padding-left: 5%;
  padding-right: 5%;
  width: auto;
  height: auto;
  text-indent: 3em;
  text-align: justify;
  letter-spacing: 0.1em;
  line-height: 1.255em;
  font-size: 1em;
  
  position: absolute;
}

.catPagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.catStats {
  display: flex;
  justify-content: left;
  align-items: center;
}

.catStats > ul {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 0;
  list-style: none;
  justify-content: space-around;
  margin: 0;
}

.catStats > ul > li {
  display: flex;
  height: 100%;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.bookletStat {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 100%;
}

.bookletStatRange {
  position: relative;
  height: 100%;
  width: 85%;
  margin-left: auto;
}

.statImg {
  width: 3em;
  height: 3em;
}

.rangeLine {
  position: absolute;
  height: 1px;
  width: 100%;
  top: 50%;
  margin: 0;
  background: black;
}

.rangeGrid {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: 10px;
}

.rangeTick {
  border-left: 1px solid gray;
  height: 50%;
  margin-top: 18.75%;
  margin-left: 50%;
}

.validRange {
  border-left: 4px solid black;
}

.catImage img {
  width: 100%;
}