.pauseMenuFrame {
    display: none;
    position: absolute;
    width: 40em;
    height: 50em;
    background-color: rgba(100, 100, 100, 0.5);

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.pauseSwitch {
    display: block;
}

.pauseMenuFrame::before {
    content: "";
    position: absolute;
    width: 50em;
    height: 40em;
    z-index: -1;
    background: url('../assets/UI/FrameWithContent.png') no-repeat;
    background-size: cover;
    transform-origin: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(90deg);
}

.pauseMenuTitle {
    width: 100%;
    text-align: center;
    margin-top: 15%;
    margin-bottom: 5%;
}

.pauseButton {
    position: absolute;
    height: 1.85em;
    width: 8em;
    left: 50%;
    transform: translate(-50%, -50%);

    /* Remove Button Default CSS */
    background-image: url("../assets/UI/NormalButton.png");
    background-repeat: no-repeat;
    background-size: contain;
    border: 0;
    color: inherit;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.pauseResumeButton {
    top: 40%;
}

.pauseQuitButton {
    top: 85%
}

.pauseSliderContextContainer {
    display: block;
    width: 100%;
}

.pauseSliderWrapper {
    display: inline;
    position: absolute;
    left: 50.25%;
    top: 55%;
    transform: translate(-50%, -50%);
}

.pauseSliderContainer {
    position: relative;
    height: 2em;
    width: 12em;
    background-image: url("../assets/UI/LongerButton.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.pauseSlider {
    position: absolute;
    height: 5%;
    width: 80%;
    top: 50%;
    left: 47%;
    transform: translate(-50%, -50%);

    -webkit-appearance: none;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.pauseSlider:hover {
    opacity: 1;
}

.pauseSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1em;
    height: 1em;
    background: lightgoldenrodyellow;
    cursor: pointer;
}

.pauseSlider::-moz-range-thumb {
    width: 1em;
    height: 1em;
    background: lightgoldenrodyellow;
    cursor: pointer;
}

.pauseMenuText {
    text-align: center;
    color: lightgoldenrodyellow;
    font-size: large;
}

.pauseButton:hover {
    color: burlywood;
}