.warning {
  color: darkred;
  font-size: larger;
}

/* Game CSS*/
#game {
  position: absolute;
  left:0px;
  top:0px;
  margin: 0px;
  padding: 0px;
}

button.game {
  font-size: 1.1vw;
  scale: 1;
}