body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.warning {
  color: darkred;
  font-size: larger;
}

#scores td {
  padding: 5px 20px;
}

/* Game CSS*/
#game {
  position: absolute;
  left:0px;
  top:0px;
  margin: 0px;
  padding: 0px;
}

button.game {
  font-size: 1.5em;
  background-color: transparent;
  background-image: url('../assets/UI/MatchJoinButton.png');
  background-size: cover;
  background-position: center;
  color: black;
  border: none;
  text-align: center;
  font-weight: bold;
  width: 220px;
  height: auto;
  line-height: 46px;
}

button.game:hover {
  color: rgb(85, 85, 85);
}

button.game:active {
  background-image: url('../assets/UI/MatchJoinButtonPressed.png');
  color: rgb(58, 58, 58);
}