.warning {
  color: darkred;
  font-size: larger;
}

/* Game CSS*/
#game {
  position: absolute;
  left:0px;
  top:0px;
  margin: 0px;
  padding: 0px;
}

button.game {
  font-size: 1.5em;
  background-color: transparent;
  background-image: url('../assets/UI/MatchJoinButton.png');
  background-size: cover;
  background-position: center;
  color: black;
  border: none;
  text-align: center;
  font-weight: bold;
  width: 220px;
  height: auto;
  line-height: 46px;
}

button.game:hover {
  color: rgb(85, 85, 85);
  cursor: pointer;
}

button.game:active {
  background-image: url('../assets/UI/MatchJoinButtonPressed.png');
  color: rgb(58, 58, 58);
}