.removeButtonStyle {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.squareRatioDummy {
    margin-top: 100%;
    /* 1:1 aspect ratio */
}

.ratioDummy4-3 {
    margin-top: 75%;
}

.containImage {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
}